<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="timur.gilfanov.messenger.auth.ui.LoginScreenTestActivity" />
        <activity android:name="timur.gilfanov.messenger.auth.ui.SignupScreenTestActivity" />
    </application>
</manifest>
